<div class="container-fluid" style="padding: 0 100px;">
    <div *ngIf="flag" class="row mt-3">
        <div class="col-12 text-center">
            <img src="assets/images/emptyCart.png" alt="Empty Cart">
        </div>
    </div>
    <div *ngIf="!flag" class="row mt-3">
        <div class="col-6">
            <h3>Cart
                <span class="float-right">Rs. {{amount}}/-</span>
            </h3>
            <hr>
            <div class="card mb-2" *ngFor="let item of cartList">
                <div class="card-body">
                    <h5 class="card-title">{{item.bookID}}, {{item.title}}
                        <span class="float-right">Rs. {{item.price}}/-</span>
                    </h5>
                    <h6 class="card-subtitle mb-2 text-muted">By - {{item.authors}}</h6>
                    <h6 class="card-subtitle mb-2 text-muted">ISBN - {{item.isbn}}</h6>
                    <p class="card-text mb-1">
                        <ngb-rating [(rate)]="item.average_rating" [starTemplate]="t" [readonly]="true" [max]="5">
                        </ngb-rating>
                        <span class="float-right">({{item.ratings_count}})</span>
                    </p>
                    <span><b>Language: </b>{{item.language_code}}</span>
                    <a (click)="removeFromCart(item)" class="btn btn-sm float-right whiteText primaryColor">Remove</a>
                </div>
            </div>
        </div>
        <div class="col-6">
            <button [routerLink]="['/checkout']" class="btn whiteText primaryColor float-right">Procced To Buy</button>
        </div>
    </div>
</div>